:root {
	--handle-color-stop-0: orange;
	--handle-color-stop-100: orangered;
	--track-bg: #232323;
	--body-bg: #202020;
	--rgb: #ffffff;
	--primary-color: #4a90e2;
	--light-value: l;
	--saturation-value: s;
	--hue-value: h;
	--alpha-value: 1;
	--base-font-size: 16px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.header {
	padding: 2em 2em 0 2em;
	h1 {
		font-size: 40px;
		margin: 0;
		font-weight: 800;
		line-height: 1;
		font-family: "Poppins", sans-serif;
		text-align: center;
		color: #fff;
		letter-spacing: -0.1vw;
		text-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.4);
		padding: 0;
	}
	p {
		font-size: 1.6rem;
		margin-bottom: 2em;
		margin-top: 0.5em;
		padding: 0;
		line-height: 1.4;
		font-weight: 400;
		color: #ccc;
		font-family: "Roboto", sans-serif;
	}
}

.form-layout {
	width: 100%;
	display: grid;
	grid-template-columns: 46% 50% 4%;
	grid-template-rows: 50px 20px 50px 20px 50px 20px 50px 20px;
	> * {
		&:nth-child(1) {
			grid-column: 1;
			grid-row: 1;
		}
		&:nth-child(2) {
			grid-column: 2;
			grid-row: 1;
		}
		&:nth-child(3) {
			grid-column: 3;
			grid-row: 1;
			justify-self: center;
		}
		&:nth-child(4) {
			grid-column: ~"1 / span 2";
			grid-row: 2;
		}
		&:nth-child(5) {
			grid-column: 3;
			grid-row: 2;
			justify-self: center;
		}

		&:nth-child(6) {
			grid-column: 1;
			grid-row: 3;
		}
		&:nth-child(7) {
			grid-column: 2;
			grid-row: 3;
		}
		&:nth-child(8) {
			grid-column: 3;
			grid-row: 3;
			justify-self: center;
		}
		&:nth-child(9) {
			grid-column: ~"1 / span 2";
			grid-row: 4;
		}
		&:nth-child(10) {
			grid-column: 3;
			grid-row: 4;
			justify-self: center;
		}

		&:nth-child(11) {
			grid-column: 1;
			grid-row: 5;
		}
		&:nth-child(12) {
			grid-column: 2;
			grid-row: 5;
		}
		&:nth-child(13) {
			grid-column: 3;
			grid-row: 5;
			justify-self: center;
		}
		&:nth-child(14) {
			grid-column: ~"1 / span 2";
			grid-row: 6;
		}
		&:nth-child(15) {
			grid-column: 3;
			grid-row: 6;
			justify-self: center;
		}

		&:nth-child(16) {
			grid-column: 1;
			grid-row: 7;
		}
		&:nth-child(17) {
			grid-column: 2;
			grid-row: 7;
		}
		&:nth-child(18) {
			grid-column: 3;
			grid-row: 7;
			justify-self: center;
		}
		&:nth-child(19) {
			grid-column: ~"1 / span 2";
			grid-row: 8;
		}
		&:nth-child(20) {
			grid-column: 3;
			grid-row: 8;
			justify-self: center;
		}
		//code-container
		&:nth-child(21) {
			grid-column: ~"1 / -1";
			grid-row: 9;
			justify-self: center;
		}
	}
}

.primary {
	position: relative;
	width: 100%;
	max-height: 25vh;
	aspect-ratio: ~"16 / 4.5";
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
	.hex-input {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
	}
}
.swatch {
	position: relative;
	width: 100%;
	max-height: 25vh;
	aspect-ratio: ~"16 / 4.5";
	background-color: var(--body-bg);
	background-image: linear-gradient(#444547 2px, transparent 2px),
		linear-gradient(90deg, #444547 2px, transparent 2px),
		linear-gradient(#444547 1px, transparent 1px),
		linear-gradient(90deg, #444547 1px, #20262e 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	&:after {
		content: "";
		background-color: hsl(
			from var(--primary-color) var(--hue-value) var(--saturation-value)
				var(--light-value) ~"/" var(--alpha-value)
		);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}
}

// range styling from https://codepen.io/aronwoost/pen/kVVQWE
input[type="range"] {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 20px;
	margin: 0;
	border: none;
	padding: 1px 2px;
	border-radius: 14px;
	background: var(--track-bg);
	box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
	-webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
	outline: none;
	cursor: grab;
	&::-moz-range-track {
		border: inherit;
		background: transparent;
	}

	&::-ms-track {
		border: inherit;
		color: transparent; /* don't drawn vertical reference line */
		background: transparent;
	}

	&::-ms-fill-lower,
	&::-ms-fill-upper {
		background: transparent;
	}

	&::-ms-tooltip {
		display: none;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 40px;
		height: 18px;
		border: none;
		border-radius: 12px;
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0%, var(--handle-color-stop-0)),
			color-stop(100%, var(--handle-color-stop-100))
		); /* android <= 2.2 */
		background-image: -webkit-linear-gradient(
			top,
			var(--handle-color-stop-0) 0,
			var(--handle-color-stop-100) 100%
		); /* older mobile safari and android > 2.2 */
		background-image: linear-gradient(
			to bottom,
			var(--handle-color-stop-0) 0,
			var(--handle-color-stop-100) 100%
		); /* W3C */
	}
	&::-moz-range-thumb {
		width: 40px;
		height: 18px;
		border: none;
		border-radius: 12px;
		background-image: linear-gradient(
			to bottom,
			var(--handle-color-stop-0) 0,
			var(--handle-color-stop-100) 100%
		); /* W3C */
	}

	&::-ms-thumb {
		width: 40px;
		height: 18px;
		border-radius: 12px;
		border: 0;
		background-image: linear-gradient(
			to bottom,
			var(--handle-color-stop-0) 0,
			var(--handle-color-stop-100) 100%
		); /* W3C */
	}
	&:disabled {
		&::-webkit-slider-thumb {
			display: none;
		}
		&::-moz-range-thumb {
			display: none;
		}

		&::-ms-thumb {
			display: none;
		}
	}
}

label {
	padding: 1em 0 1em 0;
	width: auto;
	align-self: flex-start;
	color: #aaa;
}
output {
	padding: 1em 0 1em 0;
	width: auto;
	align-self: flex-start;
	color: #fff;
}
.code-container {
	padding: 1em 0 1em 0;
	font-size: 140%;
	color: #adbac7;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		Liberation Mono, Courier New, monospace;
	font-feature-settings: normal;
	font-variation-settings: normal;
	.hljs-selector-id {
		color: #6cb6ff;
	}
	.hljs-selector-tag {
		color: #8ddb8c;
	}
		span {
		transition: background-color 1s ease; /* Smooth fade */
	}
	.highlight {
		background-color: yellow;
		color: black;
	}
}

@layer base {
	body ::-webkit-scrollbar,
	body::-webkit-scrollbar {
		display: none;
	}
	body {
		-ms-overflow-style: none;
		width: var(--stretch);
		height: -webkit-fill-available;
	}
	html {
		scrollbar-width: none;
		box-sizing: inherit;
		scroll-behavior: smooth;
		height: -webkit-fill-available;
	}
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		list-style: none;
		list-style-type: none;
		text-decoration: none;
	}
	body {
		background-color: var(--body-bg);
		font-size: var(--base-font-size);
		font-family: "Poppins", sans-serif;
		color: #586270;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
}

@media screen {
	@media (min-width: 0) and (max-width: 319px) {
		.element {
			display: none;
		}
	}

	@media (min-width: @breakpoint-xs) {
		.element {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
	}
	@media (min-width: @breakpoint-s) {
	}
	@media (min-width: @breakpoint-m) {
		.element {
			margin-top: 3em;
			min-width: 768px;
			width: 90vw;
		}
	}
	@media (min-width: @breakpoint-l) {
		.element {
			max-width: 1280px;
		}
	}
}

@breakpoint-xs: 320px;
//@breakpoint-s: 480px; // another option!
@breakpoint-s: 640px;
@breakpoint-m: 768px;
@breakpoint-l: 1024px;
//@breakpoint-xl: 1280px;
//@breakpoint-xxl: 1920px;
//@breakpoint-xxxl: 2560px;
